
<!--[if lt IE 9]><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><![endif]-->
<!--[if gt IE 8]><!-->
<!DOCTYPE html>
<!--<![endif]-->
<!--[if lt IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html><!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Publications scientifiques | Centre NTE  | Université de Fribourg</title>
    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <link href="../../../../uf/v2.4.1/css/bootstrap.css" rel="stylesheet">
    <link href="../../../../uf/v2.4.1/css/main.css" rel="stylesheet">
    






    <link rel="shortcut icon" type="image/ico" href="../../../../sharedconfig/favicon/favicon.ico">
    <!-- Load IE8 specific styles--><!--[if lt IE 9]>
    <link href="//cdn.unifr.ch/uf/v2.4.1/css/old_ie.css" rel="stylesheet"/><![endif]-->
    <script src="../../../../uf/v2.4.1/js/modernizr.js"></script>
    <!-- Spiders alternative page -->
    
        <link rel="alternate" hreflang="fr" href="publications-scientifiques.html">
        
    
    


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8998TH');</script>
<!-- End Google Tag Manager -->



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


  ga('create', 'UA-11149209-1', 'auto');
  ga('private_track.set', 'anonymizeIp', true);

  ga('create', 'UA-80009120-2', 'auto', {'name': 'private_track'});
  ga('send', 'pageview');
  
	ga('private_track.send', 'pageview');
	ga('private_track.set', 'anonymizeIp', true);
	

</script>

    <link rel="stylesheet" href="../../../../font-awesome/4.5.0/css/font-awesome.min.css">
    

<link href="../../../../uf/v2.4.1/css/corr.css" rel="stylesheet">

<style>
	/*
	a[href^=http]{text-decoration:none;}
	footer a[href^=http]{text-decoration:none; color:#fff;}
	div.sub-menu li.star > a{font-weight:bold;}
	*/
</style>
    <!-- Removed by WebCopy --><!--<base href="//www.unifr.ch/nte/fr/">--><!-- Removed by WebCopy -->
</head>
<body data-lang="fr" class="marine">



<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8998TH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Page wrapper-->
<div id="wrapper">
    <!-- Fixed header-->
    <nav class="fixed-header pusher">
        <div class="fixed-header--bg">
            <div class="container clearfix">

                <!-- The logo -->
                

<a href="javascript:;" class="open-offcanvas square bg-branded hover hidden-desktop"></a><a href="javascript:;" class="hidden-desktop square logo" style="content: ''; display:block;height:55px;width:55px;  no-repeat center center; background-size:contain;"></a>

                

<div class="search hidden-mobile">

    


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Voir plus de résultat</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

    <a href="#" data-expander-toggler="search-47727" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square"><i class="gfx gfx-search"></i></a>
    <div data-expander-content="search-47727" data-expander-group="mobile-nav" class="search--input">
        <div class="container">
            
            <div class="input-group">
                <input type="text" class="form-control"><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="http://www.unifr.ch/nte" checked="checked" id="local-" class="hidden">
                <label for="local-" class="btn btn-primary sd">Local</label></span><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="www.unifr.ch" id="global-" class="hidden">
                <label for="global-" class="btn btn-default">Global</label></span>
            </div>
            
            <ul class="search--results">
                <li class="blank-slate">Aucun résultat</li>
            </ul>
        </div>
    </div>
</div>

                <!-- Globalmenu -->
                <div class="meta-menu"><a href="#" data-fixed-mode-toggler="mobile" data-accordion-toggler="metamenu" class="square meta-menu--toggler hover bg-branded-desk"><i class="gfx gfx-tiles"></i><i class="square-triangle"></i><span class="hidden-mobile">Accès rapide</span></a>
    <div data-accordion-content="metamenu" data-accordion-group="mobile-nav" class="meta-menu--content">
        <nav data-scroll-container="data-scroll-container" class="container">
            <ul>
                <li class="first-level"><a href="#" data-accordion-toggler="meta2" data-scroll-to-me="data-scroll-to-me">Université</a>
                    <nav data-accordion-content="meta2">
                        <ul>
                            <li><a href="http://studies.unifr.ch/fr" title="Les études: Bachelor, Master, Doctorat">Etudes</a></li>
                            <li><a href="https://www.unifr.ch/campus/fr" title="La vie sur le Campus">Campus</a></li>
                            <li><a href="https://www.unifr.ch/research/fr" title="La recherche">Recherche</a></li>
                            <li><a href="https://www.unifr.ch/uni/fr" title="L'Université en bref">Université</a></li>
                            <li><a href="https://www.unifr.ch/formcont/fr" title="Formation continue">Formation continue</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="#" data-accordion-toggler="meta1" data-scroll-to-me="data-scroll-to-me">Facultés</a>
                    <nav data-accordion-content="meta1">
                        <ul>
                            <li><a href="https://www.unifr.ch/theo/fr" title="Accéder à la faculté de théologie"><span class="glyphicon glyphicon-stop color-orange" aria-hidden="true"></span> Théologie</a></li>
                            <li><a href="https://www.unifr.ch/ius/fr" title="Accéder à la faculté de droit"><span class="glyphicon glyphicon-stop color-red" aria-hidden="true"></span> Droit</a></li>
                            <li><a href="https://www.unifr.ch/ses/" title="Accéder à la faculté des sciences économiques et sociales"> <span class="glyphicon glyphicon-stop color-purple" aria-hidden="true"></span> Sciences économiques et sociales et management</a></li>
							<li><a href="https://www.unifr.ch/lettres/fr" title="Accéder à la faculté des lettres et des sciences humaines"><span class="glyphicon glyphicon-stop color-sky" aria-hidden="true"></span> Lettres et sciences humaines</a></li>
                            <li><a href="https://www.unifr.ch/scimed/fr" title="Accéder à la faculté des sciences et de médecine "><span class="glyphicon glyphicon-stop color-green" aria-hidden="true"></span> Sciences et médecine</a></li>
                             <li><a href="https://www.unifr.ch/faculties/fr/interfacultaire.html" title="Interfacultaire"><span class="glyphicon glyphicon-stop color-marine" aria-hidden="true"></span> Interfacultaire</a></li>
                            
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="http://www.unifr.ch/you-are/fr/" data-accordion-toggler="meta0" data-scroll-to-me="data-scroll-to-me">Vous êtes</a>
                    <nav data-accordion-content="meta0">
                        <ul>
                            <li><a href="https://www.unifr.ch/you-are/fr/futurs-etudiants/" title="Vous êtes... futur·e·s étudiant·e·s">Futurs étudiants</a></li>
                            <li><a href="https://www.unifr.ch/you-are/fr/etudiants/" title="Vous êtes... étudiant·e·s">Etudiants</a></li>
                            <li><a href="https://www.unifr.ch/you-are/fr/medias/" title="Vous êtes... médias">Médias</a></li>
                            <li><a href="https://www.unifr.ch/you-are/fr/chercheurs/" title="Vous êtes... chercheuses et chercheurs">Chercheurs</a></li>
                            <li><a href="https://www.unifr.ch/you-are/fr/collaborateurs/" title="Vous êtes... collaboratrices et collaborateurs">Collaborateurs</a></li>
							<li><a href="https://www.unifr.ch/you-are/fr/doctorants/" title="Vous êtes... doctorant·e·s ">Doctorants</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level meta-menu--contact bg-branded-desk">
                    <a href="#" class="hidden-lg" data-accordion-toggler="contact" data-scroll-to-me="data-scroll-to-me">Ressources</a>
                    <nav data-accordion-content="contact">
                        <ul>
                            <li><a href="https://www.unifr.ch/directory/fr" class="gfx gfx-user">Annuaire du personnel</a></li>
                            <li><a href="https://www.unifr.ch/map" class="gfx gfx-directions"><span class="padding-sm">Plan d'accès</span></a></li>
                            <li><a style="padding-left:0px" href="https://www.unifr.ch/biblio"><span class="glyphicon glyphicon-book adjust-desk" aria-hidden="true"></span><span class="padding-sm">Bibliothèques</span></a></li>
                            <li><a href="https://mail.unifr.ch" class="gfx gfx-mail"><span class="padding-sm">Webmail</span></a></li>
                            <li><a style="padding-left:0px" href="https://www.unifr.ch/timetable/fr/"><span class="glyphicon glyphicon-calendar adjust-desk" aria-hidden="true"></span><span class="padding-sm">Programme des cours</span></a></li>
                            <li><a href="https://www.unifr.ch/login/se-connecter.php" class="gfx gfx-lock"><span class="padding-sm">MyUnifr</span></a></li>
                        </ul>
                    </nav>
                </li>
            </ul>
        </nav>
    </div>
</div>

<style>
    .adjust-desk{
        padding-right:1px
    }
    .padding-sm{
        padding-left:4px;
    }
    @media (min-width: 768px){
        .padding-sm{
            padding-left:0px;
        }
        .adjust-desk{
            padding-right:8px
        }
        .hidden-lg{
            display:none;
        }
        .meta-menu--content .first-level.meta-menu--contact nav a {
            font-family: inherit;
        }

        .meta-menu--toggler span{
            font-family: openSans-Regular-webfont,'Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size:13px;
        }
        .meta-menu--content {
            background: rgba(255,255,255,0.95);
        }
        .meta-menu--content .first-level.meta-menu--contact{
            background: #0c2447;

        }
        .meta-menu--content:after {
            background: #0c2447;
        }

        .bg-branded-desk,.bg-branded-desk:visited,.bg-branded-desk:hover,.bg-branded-desk:active {
        background: #0c2447;
        color: #fff!important;
        }

    }
</style>


                <!-- Desktop Langmenu -->
                

<nav class="hidden-mobile square language-switch">
    <ul>
        
<li><a href="publications-scientifiques.html" class=" bold">FR</a></li>
    </ul>
</nav>

                <!-- Global Breadcrumb -->
                


<div class="breadcrumbs square">

    <a href="http://www.unifr.ch" data-accordion-toggler="crumbs" class="square bg-white hover hidden-desktop breadcrumbs--toggler"><i class="gfx gfx-home"></i><i class="square-triangle"></i></a>

    <div data-accordion-content="crumbs" data-accordion-group="mobile-nav" class="breadcrumbs--content">
        <nav class="breadcrumbs--mobile shortened">
            <ul class="breadcrumbs--slider">
                <!-- level 0 -->
                
                <li><a href="http://www.unifr.ch" class="gfx gfx-home"></a></li>
                

                <!-- level 1 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li>
                    <a href="http://www3.unifr.ch/it" class="short">Prestations IT</a>
                    <a href="http://www3.unifr.ch/it" class="long">Prestations IT</a>
                </li>
                
                <!-- level 2 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li class="desktop-expanded">
                    <a href="http://www3.unifr.ch/nte" class="short">Centre NTE</a>
                    <a href="http://www3.unifr.ch/nte" class="long">Centre NTE</a>
                </li>
                
                <!-- level 3 -->
                
            </ul>
        </nav>
    </div>
</div>
            </div>
        </div>
    </nav>
    <!-- Offcanvas pusher-->
    <div class="pusher pass-height">
        <!-- Page header/offcanvas-->
        <header id="header" class="offcanvas pass-height">
            <nav class="service-menu">
                <!-- mobile tools menu -->
                <div class="hidden-desktop clearfix">

                    <!-- Search Mobile -->
                    
                    <div class="search">
                        <!-- Template for one search result -->
                        


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Voir plus de résultat</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

                        <a href="#" data-expander-toggler="search-27564" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square"><i class="gfx gfx-search"></i></a>
                        <div data-expander-content="search-27564" data-expander-group="mobile-nav" class="search--input">
                            <div class="container">
                                
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="http://www.unifr.ch/nte" id="local-" class="hidden" checked="checked">
                                        <label for="local-" class="btn btn-primary sd">Local</label>
                                    </span>
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="www.unifr.ch" id="global-" class="hidden">
                                        <label for="global-" class="btn btn-default">Global</label>
                                    </span>
                                </div>
                                
                                <ul class="search--results">
                                    <li class="blank-slate">Aucun résultat</li>
                                </ul>
                             </div>
                        </div>
                    </div>


                    <!-- langmenu.mobile -->
                    

<nav class="language-switch square hover bg-white"><a href="#" data-accordion-toggler="language-switch" class="toggle-language-switch square">FR</a>
    <div data-accordion-content="language-switch" class="dropdown">
        <ul class="bg-white">
            

<li><a href="publications-scientifiques.html" class="square bg-white hover  bold">FR</a></li>
        </ul>
    </div>
</nav>
                    <a href="javascript:;" class="close-offcanvas square hover bg-marine"></a>
                </div>
                <div class="hidden-mobile">
                    <div class="container service-menu--relation">
                        <nav class="clearfix">
                            
                        </nav>
                        

<h1 class="logo"><span class="sr-only">Université de Fribourg</span><a href="//www.unifr.ch"><img src="../../../../uf/v2.4.1/gfx/logo.png"></a></h1>

<p class="service-menu--department"><a href="../../index.htm">Centre Nouvelles Technologie et Enseignement</a></p>
                    </div>
                </div>
            </nav>
            

<!-- Use class flat-menu or push-menu on this container-->
<!-- to toggle between the two types of navigation. The underlying-->
<!-- structure is exactly the same.-->
<nav class="push-menu container">
    <!-- First navigation level is visible, therefore needs-->
    <!-- the class .in-->
    <!-- .default is needed to not register a swipe event listener-->
    <div class="level default in">

        

<!-- start outerTpl -->
<ul>
    

<!-- start parentRowTpl -->
<li class="first">
	<a href="../../services/index.htm" title="Services" class="deeper">
		Services
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		

<!-- start parentRowTpl -->
<li class="first">
	<a href="../../services/projets-et-activites/index.htm" title="Projets et activités" class="deeper">
		Projets et activités 
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="../../services/projets-et-activites/atelier-spss.html" title="Atelier SPSS">Atelier SPSS</a></li>
<li><a href="../../services/projets-et-activites/callisto.html" title="Callisto">Callisto</a></li>
<li><a href="../../services/projets-et-activites/diatheque.html" title="Diathèque">Diathèque</a></li>
<li><a href="../../services/projets-et-activites/digitalskills.html" title="DigitalSkills">DigitalSkills</a></li>
<li><a href="../../services/projets-et-activites/equal.html" title="Equal+">Equal+</a></li>
<li><a href="../../services/projets-et-activites/getting-started.html" title="Getting Started">Getting Started</a></li>
<li><a href="../../services/projets-et-activites/ludus.html" title="Ludus">Ludus</a></li>
<li><a href="../../services/projets-et-activites/myple.html" title="MyPLE">MyPLE</a></li>
<li><a href="../../services/projets-et-activites/numismatique.html" title="NAFO">Numismatique</a></li>
<li><a href="../../services/projets-et-activites/pharmacologie.html" title="Pharmacologie">Pharmacologie</a></li>
<li><a href="../../services/projets-et-activites/pilgrims.html" title="Pilgrims">Pilgrims</a></li>
<li><a href="../../services/projets-et-activites/prestations-it.html" title="Prestations IT">Prestations IT</a></li>
<li><a href="../../services/projets-et-activites/slz-caa.html" title="SLZ-CAA">SLZ-CAA</a></li>
<li><a href="../../services/projets-et-activites/tests-de-classement-en-ligne.html" title="Tests de classement en ligne">Tests de classement en ligne</a></li>
<li class="last"><a href="../../services/projets-et-activites/anciens-projets/index.htm" title="Anciens projets">Anciens projets</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="../../services/outils-logiciels/index.htm" title="Outils logiciels" class="deeper">
		Outils logiciels
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="https://www3.unifr.ch/it/fr/compilatio.html" title="Compilatio - Prévention du plagiat">Compilatio - Prévention du plagiat</a></li>
<li><a href="https://www.unifr.ch/it/fr/eddb.html" title="EDDB - Bases de données éducationnelles">EDDB - Bases de données éducationnelles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/formulaires-en-ligne.html" title="Formulaires en ligne">Formulaires en ligne</a></li>
<li><a href="https://www3.unifr.ch/it/fr/limesurvey.html" title="LimeSurvey - Questionnaires en ligne">LimeSurvey - Questionnaires en ligne</a></li>
<li><a href="https://www3.unifr.ch/it/fr/moodle.html" title="Moodle - plateforme d’apprentissage">Moodle - plateforme d’apprentissage</a></li>
<li><a href="http://" title=""></a></li>
<li><a href="https://www.unifr.ch/it/fr/teams.html" title="MS Teams - Cours et réunions en ligne">MS Teams - Cours et réunions en ligne</a></li>
<li><a href="https://www.unifr.ch/it/fr/redcap.html" title="REDCap - gestion des données personnelles et/ou sensibles">REDCap - gestion des données personnelles et/ou sensibles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchdrive.html" title="SWITCHdrive - Stockage et synchronisation de fichiers">SWITCHdrive - Stockage et synchronisation de fichiers</a></li>
<li><a href="https://www.unifr.ch/it/fr/switchengines.html" title="SWITCHengines - Machines de calcul virtuelles">SWITCHengines - Machines de calcul virtuelles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchfilesender.html" title="SWITCHfilesender - Transfert de fichiers volumineux">SWITCHfilesender - Transfert de fichiers volumineux</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchtube.html" title="SWITCHtube - Diffusion de vidéos">SWITCHtube - Diffusion de vidéos</a></li>
<li class="last"><a href="https://www.unifr.ch/it/fr/applimobileunifr.html" title="UniFR Mobile">UniFR Mobile</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="last">
	<a href="../../services/ressources/index.htm" title="Ressources" class="deeper">
		Ressources
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="../../services/ressources/guidevideo.html" title="Guide vidéo">Guide vidéo</a></li>
<li><a href="../../services/ressources/myple.html" title="Myple">Myple</a></li>
<li><a href="../../services/ressources/scenarios-moodle.html" title="Scénarios Moodle">Scénarios Moodle</a></li>
<li class="last"><a href="../../services/ressources/tutoriels-nte.html" title="Tutoriels NTE">Tutoriels NTE</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li><a href="https://nte.unifr.ch/blog" title="Blog">Blog</a></li>


<!-- start parentRowTpl -->
<li class="active">
	<a href="../index.htm" title="A notre sujet" class="deeper">
		A notre sujet
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		

<!-- start parentRowTpl -->
<li class="first active">
	<a href="index.htm" title="Documents" class="deeper">
		Documents
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="affiches.html" title="Affiches">Affiches</a></li>
<li><a href="rapports-annuels.html" title="Rapports annuels">Rapports annuels</a></li>
<li><a href="rapports-de-projets.html" title="Rapports de projets">Rapports de projets</a></li>
<li class="last active"><a href="publications-scientifiques.html" title="Publications scientifiques">Publications scientifiques</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li class="last"><a href="../equipe/index.htm" title="L'équipe du Centre NTE" 2188="">L'équipe du Centre NTE</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li class="last"><a href="../../contact.html" title="Contact">Contact</a></li>

</ul>
<!-- end outerTpl -->

    </div>
</nav>

        </header>
        <!-- Main content-->
        <main id="main">
            <div class="visible-lt-ie9 fixed-page-overlay"></div>
            <div class="container">
                <div class="sub-menu--spacer"></div>
                



<nav class="deepcrumbs">
<ul>
    
        <li><a href="../../index.htm" class="gfx gfx-home"></a></li>
	<li><a href="../index.htm">A notre sujet</a></li><li><a href="index.htm">Documents</a></li><li>Publications scientifiques</li>
</ul>
</nav>

                <div class="content">
                    <div class="row inner">
                        <div class="col-md-3 sub-menu">
                            <nav>
                                <h4>
                                    
                                    <a href="../index.htm" data-expander-toggler="sub-menu" data-fixed-mode-toggler="mobile" class="filter--title fixed-page-mode--toggler hidden-min-laptop">
                                        A notre sujet</a>
                                    <a href="../index.htm" class="hidden-max-laptop">
                                        A notre sujet</a>
                                    
                                </h4>

                                <div data-expander-content="sub-menu" data-expander-group="mobile-nav" class="sub-menu--content">

                                    <ul>


<!--parentRowTpl-->
<li class="first">
    <a href="index.htm" title="Documents" class="deeper">
        Documents <i data-expander-toggler="sub-menu-22" data-expander-state="open" class="gfx gfx-triangle-thin-down"></i>

    </a>
    <div data-expander-content="sub-menu-22" class="level" data-expander-state="open">
        <ul><li class="first"><a href="affiches.html" title="Affiches">Affiches</a></li>
<li><a href="rapports-annuels.html" title="Rapports annuels">Rapports annuels</a></li>
<li><a href="rapports-de-projets.html" title="Rapports de projets">Rapports de projets</a></li>
<li class="last active"><a href="publications-scientifiques.html" title="Publications scientifiques">Publications scientifiques</a></li>
</ul>
    </div>
</li>
<!--/parentRowTpl-->
<li class="last"><a href="../equipe/index.htm" title="L'équipe du Centre NTE" 2188="">L'équipe du Centre NTE</a></li>
</ul>

                                </div>

                            </nav>

                        </div>
                        <div class="col-md-9 inner-30">
                            <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <h2>Publications scientifiques</h2>

<p>Une partie du travail du Centre NTE est dédiée à une recherche scientifique appliquée qui mène notamment à des publications dans des colloques et des revues. Nous donnons ci-dessous les références de celles-ci pour la période commençant en 2015 :</p>
    </div>
</div>

<div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <ul class="accordion brandedstyle">
<li>
    <a id="" href="#" data-accordion-toggler="styleguide-6-1">Tests de placement automatiques en langue étrangère</a>
    <div data-accordion-content="styleguide-6-1">
        <div class="box inner-05">
            <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <p><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=2ahUKEwij3JyW38HmAhXD8qYKHZK0AicQFjAAegQIARAE&url=https%3A%2F%2Frepositorio.ul.pt%2Fbitstream%2F10451%2F31989%2F1%2FActes_28Colloque_ADMEE_2016.pdf&usg=AOvVaw3zZ2KhVwCg7KBqAW1MtamB">[File]</a>&nbsp;Platteaux, H., Sieber, M., &amp; Coen, P.-F. (2016). Analyse d’un dispositif automatisé d’évaluation diagnostique d’étudiants dans un centre universitaire de langues étrangères. Presented at the ADMEE 2016, Lisbonne.</p>
<p><a href="../../assets/public/files/publications_scientifiques/gickplatteauxhoeinblonspierrekohler-actesADMEE2012.pdf">[File]</a>&nbsp;Gick, C., Platteaux, H., Hoein, S., Blons-Pierre, C., &amp; Kohler, P. (2012). Analyse de validité des tests de classement en ligne pour les langues à l’aide du modèle de Rasch. Paper presented at the 24ème Colloque de l’ADMEE Europe, Luxembourg 11-13 janvier 2012.</p>
<p><a href="../../assets/public/files/publications_scientifiques/kohlerplatteauxblonspierre2012_revueripes_27_2.pdf">[File]</a> Kohler, P., Platteaux, H., &amp; Blons-Pierre, C. (2012). Un test de classement en ligne pour évaluer les niveaux de compétence et constituer des groupes classes. Revue RIPES - Numéro Spécial "Innover dans l’évaluation des apprentissages : pourquoi et comment ?", 27(2), <a href="http://ripes.revues.org/532">http://ripes.revues.org/532</a>.</p>
<p><a href="../../assets/public/files/publications_scientifiques/kohlerplatteauxblonspierre2010reactionsetudiantsusagetestsligne_aipu2010atf.pdf">[File]</a> Kohler, P., Platteaux, H., &amp; Blons-Pierre, C. (2010). Réactions des étudiants à l’usage des tests en ligne pour évaluer les compétences langagières. XXVIème Congrès AIPU. Réformes et changements pédagogiques dans l’enseignement supérieur, Rabat 17-21 mai.</p>
    </div>
</div>
        </div>
    </div>
</li>

<li>
    <a id="" href="#" data-accordion-toggler="styleguide-6-2">Développer les compétences numériques de l’étudiant à l’université</a>
    <div data-accordion-content="styleguide-6-2">
        <div class="box inner-05">
            <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <p>Platteaux, H., Salietti, E., &amp; Molteni, L. (à paraître). The design of a rubric for defining and assessing digital education skills of higher education students. European Journal of Open, Distance and E-Learning, (Best of EDEN2018 Special Issue).</p>
<p>Platteaux, H. (2019). Digital Skills : Quels objectifs d’apprentissage dans les hautes écoles ? Comment les mettre en place ? (Symposium avec 5 institutions partenaires). Présenté au Colloque « Les technologies au service du pédagogique - AUPTIC2019 », Fribourg, 20-22 novembre.</p>
<p>Platteaux, H., &amp; Felder, J. (2019). Le projet « Digital Skills » de l’université de Fribourg : Réflexions sur les liens entre contexte et mesures mises en oeuvre pour atteindre les objectifs visés (Communication dans le Symposium Digital Skills). Présenté au Colloque « Les technologies au service du pédagogique - AUPTIC2019 », Fribourg, 20-22 novembre.</p>
<p>Platteaux, H., Salietti, E., &amp; Molteni, L. (2018). The design of a rubric for defining and assessing digital education skills of higher education students. In Proceedings of 10th EDEN Research Workshop (EDENRW10), Barcelona, Spain, October 2018. Available at <a href="http://www.eden-online.org/wp-content/uploads/2018/11/RW10_2018_Barcelona_Proceedings.pdf">http://www.eden-online.org/wp-content/uploads/2018/11/RW10_2018_Barcelona_Proceedings.pdf</a></p>
<p>5. Platteaux, H., Sieber, M., &amp; Lambert, M. (2017). A competence framework of the student’s job: helping higher education students to develop their ICT skills. In Proceedings of INTED2017 (pp. 3064‑3071), Valencia, Spain, March 2017. Available at: <a href="https://library.iated.org/publications/INTED2017">https://library.iated.org/publications/INTED2017</a></p>
<p>Sieber, M., &amp; Platteaux, H. (2017). Enseigner les compétences méthodologiques transversales incluant les TIC à l’aide d’un dispositif de classe inversée et renversée. Présenté au Colloque « L’apprentissage au cœur des technologies numériques : Enjeux, défis, recherches, pratiques » - AUPTIC2017. Genève 23-24 novembre.</p>
<p>Platteaux, H., &amp; Hoein, S. (2015). A learning module for BA students to develop ICT skills for their learning activities. <em>Online Learning from the Instructional Designer’s Perspective: Canadian and European French-Language Case Studies</em>, <em>41</em>(4).&nbsp;<a href="https://www.cjlt.ca/index.php/cjlt/article/view/26964/19872">https://www.cjlt.ca/index.php/cjlt/article/view/26964/19872</a></p>
<p><a href="../../assets/public/files/publications_scientifiques/PlatteauxSieberMoccozetBenkacem_PedagoTICE2015_finale.pdf">[File]</a> Platteaux, H., Sieber, M., Moccozet, L., &amp; Benkacem, O. (2015). Un système d’aide pour développer les compétences numériques des étudiants à l’université. Presented at the PédagoTICE 2015, Toulouse 29-30 juin.</p>
<p><a href="assets/public/files/publications_scientifiques/gick-cornelia-platteaux-hoein-blonspierre-kohler-actes2012.pdf">[File]</a>&nbsp;Platteaux, H., &amp; Hoein, S. (2014). Un module de formation visant le développement des compétences TICE chez les étudiants en baccalauréat. In C. Potvin, T. M. Power, &amp; A. Ronchi (Eds.), <em>La formation en ligne. Les conseillers et ingénieurs pédagogiques. 20 études de cas</em> (pp. 147–166). Presses de l’Université Laval.</p>
<p><a href="../../assets/public/files/publications_scientifiques/platteauxhoeinfoersterluthi2012reflexionsconceptioncoursticepourba_aipu2012_abstract.pdf">[File]</a>&nbsp;Platteaux, H., &amp; Hoein, S. (2012). Réflexions sur la conception d’un cours TICE pour les étudiants au niveau BA. 27ème Congrès de l’AIPU, Trois-Rivières 14-18 mai.</p>
<p><a href="../../assets/public/files/publications_scientifiques/platteauxhoein2010_visionticeetudiants_aipu2010_t5028_texte_final.pdf">[File]</a> Platteaux, H., &amp; Hoein, S. (2010). La vision des TICE exprimée par des étudiants en Sciences de l’éducation. XXVIème Congrès AIPU. Réformes et changements pédagogiques dans l’enseignement supérieur, Rabat 17-21 mai.</p>
<p><a href="../../assets/public/files/publications_scientifiques/PlatteauxDevauchellePeraya2008ReferentielCompetencesEtudiantseLearning_AIPUArticle_V2.pdf">[File]</a> Platteaux, H., Devauchelle, B., Peraya, D., &amp; Cerisier, J.-F. (2008). eLearning et culture numérique dans l’enseignement supérieur. Quels référentiels de compétences pour les étudiants ? Conférence annuelle de l’Association Internationale de Pédagogie Universitaire, Montpellier 19-22 mai.</p>
    </div>
</div>
        </div>
    </div>
</li>

<li>
    <a id="" href="#" data-accordion-toggler="styleguide-6-3">Personal Learning Environment</a>
    <div data-accordion-content="styleguide-6-3">
        <div class="box inner-05">
            <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <p><a href="../../assets/public/files/publications_scientifiques/PID3150079.pdf">[File]</a>&nbsp;Moccozet, L., Benkacem, O., Platteaux, H., &amp; Foerster, M. (2014). Looking for a platform that can be proposed to students as a PLE enabler. In <em>5th International workshop on Interactive Environments and Emerging Technologies for eLearning (IEETeL 2014)</em>. Birmingham UK 2-4 July.</p>
<p><a href="../../assets/public/files/publications_scientifiques/moccozetplatteauxfoersterbenkacem2013_eiah.pdf">[File]</a> Moccozet, L., Platteaux, H., Foerster, M., &amp; Benkacem, O. (2013). Intégrer les Environnements d’Apprentissage Personnels dans un environnement institutionnel. Actes EIAH2013 - 6ème Conférence sur les Environnements Informatiques pour l’Apprentissage Humain, Toulouse 29-31 mai.</p>
<p><a href="../../assets/public/files/publications_scientifiques/moccozetbenkacemplatteauxgillet2012_icalt.pdf">[File]</a> Moccozet, L., Benkacem, O., Burgi, P.-Y., Platteaux, H. &amp; Gillet, D. (2012). An Institutional Personal Learning Environment Enabler. Proceedings of the ICALT 2012 Conference, Rome 4-6 July 2012.</p>
    </div>
</div>
        </div>
    </div>
</li>

<li>
    <a id="" href="#" data-accordion-toggler="styleguide-6-4">Exploration de divers concepts e-Learning</a>
    <div data-accordion-content="styleguide-6-4">
        <div class="box inner-05">
            <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <p><a href="../../assets/public/files/publications_scientifiques/platteauxhoein2011_articlearbido_versionfinale.pdf">[File]</a>&nbsp;Platteaux, H., &amp; Hoein, S. (2011). BibUp : la saisie bibliographique simple comme un coup de fil. Arbido Print, 2, 23-25.</p>
<p><a href="../../assets/public/files/publications_scientifiques/pdf_CentreNTE2009PiikCollaborativeNewsFilteringSystemElearningCommunityHigherEducation_EDENConf.pdf">[File]</a> Platteaux, H., Hoein, S., Monnard, J., Jimenez, F., &amp; Collaud, G. (2009). Piik, a collaborative news filtering system for an elearning community in Higher Education. Paper presented at the EDEN Annual Conference : What is the actual relation between innovation and education ? , Gdansk Poland 10-13 June 2009.</p>
<p>Platteaux, H. (2008). Hypertext was born around 1200. A historical perspective on textual navigation. (What can we learn about hypermedia from the history of books ?). In J.-F. Rouet, R. Lowe &amp; W. Schnotz (Eds.), Understanding multimedia documents (pp. 203-222). New York : Springer. Retrieved at <a href="https://books.google.ch/books?isbn=038773337X">https://books.google.ch/books?isbn=038773337X</a>.</p>
<p><a href="../../assets/public/files/publications_scientifiques/PlatteauxDaele2008OutilScenarioHybride_AIPUArticle_V2.pdf">[File]</a> Platteaux, H., &amp; Daele, A. (2008). ActIMA : un outil pour représenter des scénarios de cours hybrides. Conférence annuelle de l’Association Internationale de Pédagogie Universitaire, Montpellier 19-22 mai.</p>
<p><a href="../../assets/public/files/publications_scientifiques/JimenezPlatteaux_INTED2008_V3.doc.pdf">[File]</a> Jimenez, F., &amp; Platteaux, H. (2008). Coupling a database with quizzes, A model for elearning applications ? INTED 2008 Conference, Valence Spain - March 2008.</p>
<p><a href="../../assets/public/files/publications_scientifiques/JimenezGoyettePlatteaux2007TechnicalAspectsDidacticClimateModelSimulationsTeachingLearningPurposes_final.pdf">[File]</a> Jimenez, F., Goyette, S., &amp; Platteaux, H. (2007). Technical aspects of didactic climate model simulations for teaching and learning purposes. INTED 2007 Conference, Valence Spain - March 2007.</p>
<p><a href="../../assets/public/files/publications_scientifiques/GoyettePlatteauxJimenez2007DevelopmentUserfriendlyDidacticClimateModelsTeachingLearningPurposes_TARVol3Num1.pdf">[File]</a> Goyette, S., Platteaux, H., &amp; Jimenez, F. (2007). Development of computer-based didactic climate models for teaching and learning purposes. The IPSI BgD Transactions on Advanced Research, 3(1), 32-38.</p>
<p><a href="../../assets/public/files/publications_scientifiques/DaeleErpicumEsnaultPironetPlatteauxVandeput2006ExampleParticipatoryDesignMethodologyProjectAimsDevelopingIndividualOrganisationalLearningCommunitiesPractice.pdf">[File]</a> Daele, A., Erpicum, M., Esnault, L., Pironet, F., Platteaux, H., Vandeput, E., et al. (2006). An example of Participatory design methodology in a project which aims at developing individual and organisational learning in Communities of practice. Paper presented at the TEL-CoPs 2006 - First international workshop on building technology enhanced learning solutions for Communities of practice, Crete Greece October 2.</p>
<p><a href="../../assets/public/files/publications_scientifiques/WorkshopPeda_SVC2003_summary.pdf">[File]</a> Platteaux H. &amp; Wyrsch A. (2003), "Summary of the pedagogical workshop "in Swiss Virtual Campus Days - Lucerne May 26th-28th, p. 5</p>
<p><a href="../../assets/public/files/publications_scientifiques/cvs_embryo_icnee02_article.pdf">[File]</a> Platteaux H. et al. (2002), "Pedagogical evaluation of a web based training in embryology : a study of image-text combinations" in Flückiger F. et al (eds.) : Proceedings of the 4th International Conference on New Educational Environment - Lugano May 8th-11th, pp. 2.1/43-46.</p>
<p><a href="../../assets/public/files/publications_scientifiques/earli_sig2_article_2002.pdf">[File]</a> Platteaux H. (2002), "What can we learn about hypermedia navigation from a book history study ?" in EARLI SIG2 Multimedia Comprehension Scientific Meeting, Poitiers, August 29-30, pp. 29-30.</p>
<p><a href="../../assets/public/files/publications_scientifiques/Platteaux1999These_TdM.pdf">[File]</a> Platteaux, H. (1999). <em>Quels outils de navigation pour les CD-ROMs de vulgarisation scientifique?</em> Université de Genève - FPSE, Genève.</p>
<p><a href="../../assets/public/files/publications_scientifiques/ste1998_abstract.pdf">[File]</a> Platteaux H. &amp; Rickenmann R. (1998), "Dimension graphique et aspects cognitifs de la table des matières dans le livre imprimé et le livre électronique" in Sciences et Techniques Educatives, 5(3), Paris : Editions Hermès, pp. 221-243.</p>
<p><a href="../../assets/public/files/publications_scientifiques/crdp1996_article.pdf">[File]</a> Giordan A. &amp; Platteaux H. (1996), "Le multimédia peut-il remplacer l’école ?" in Actes du Colloque National Le multimédia dans l’Education, les enjeux d’une mutation culturelle, Grenoble : Ed. CRDP, pp. 13-17.</p>
    </div>
</div>
        </div>
    </div>
</li>

<li>
    <a id="" href="#" data-accordion-toggler="styleguide-6-5">Innovation technopédagogique dans l’enseignement supérieur</a>
    <div data-accordion-content="styleguide-6-5">
        <div class="box inner-05">
            <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <p><a href="../../assets/public/files/publications_scientifiques/PlatteauxMoura2007ConcevoirServicesTechnologiquesAdaptesBesoinsCommunauteEnseignantsUniversitaires_AIPUAbstract_Vfinale.pdf">[File]</a> Platteaux, H., &amp; Moura, A. (2007). Concevoir des services technologiques adaptés aux besoins d’une communauté d’enseignants universitaires. Conférence annuelle de l’Association Internationale de Pédagogie Universitaire, Montréal 16-18 mai.</p>
<p><a href="../../assets/public/files/publications_scientifiques/PlatteauxHoein2007NouveauxMaterielsAVElearningSallesCoursUtilisationsPerceptionsBesoinsEnseignantsEtudiants_Poster.pdf">[File]</a> Platteaux, H., &amp; Hoein, S. (2007). Nouveaux matériels AV et elearning dans les salles de cours. Utilisations, perceptions et besoins des enseignants et des étudiants. Conférence annuelle de l’Association Internationale de Pédagogie Universitaire (Poster), Montréal 16-18 mai.</p>
<p><a href="../../assets/public/files/publications_scientifiques/GurtnerMonbaronPlatteauxTouvetZahnd2004DynamiqueEvolutionInstitutionsFormationTertiaireSusciteeIntroductionTIC_BrochureFNRS.pdf">[File]</a> Gurtner, J.-L., Monbaron, J., Platteaux, H., Touvet, D., &amp; Zahnd, J. (2004). Dynamique de l’évolution des institutions de formation tertiaire suscitée par l’introduction des TIC. Bern et Aarau : Programme PNR 43 (Brochure de Synthèse), Forum Formation et Emploi et Centre Suisse de Coordination pour la Recherche en Education.</p>
<p><a href="../../assets/public/files/publications_scientifiques/Article_SuccessFactors_final.pdf">[File]</a>&nbsp;Charlier, B., Platteaux, H., Bouvy, T., Esnault, L., Lebrun, M., Moura, A., Pirotte, S., Denis, B. &amp; Verday, N. (2004). Stories about innovative process in higher education : some success factors. In Proceedings of the Networked Learning Conference 2004, Lancaster April 5th-7th. 121-128.</p>
<p><a href="../../assets/public/files/publications_scientifiques/RapFinal2003.pdf">[File]</a> Gurtner J.-L., Monbaron J., Touvet D., Zahnd J., Collaud G. &amp; Platteaux H. (2003, novembre) : "Dynamique de l’évolution des institutions de formation tertiaire suscitée par l’introduction des TIC", Projet FNRS - PNR 43, Rapport Final, 147 p.</p>
<p><a href="../../assets/public/files/publications_scientifiques/colloqfqc_article_2002.pdf">[File]</a> Platteaux H. &amp; Gurtner J.L. (2002), Dynamique de l’évolution des institutions de formation tertiaire suscitée par l’introduction des TIC (Projet FNRS - PNR43), Colloque franco-québecois, Paris</p>
<p><a href="../../assets/public/files/publications_scientifiques/colloqfqc_present_paris2002.pdf">[File]</a> Platteaux H., Gurtner J.-L., 20 juin 2002, Stratégie universitaire et modernisation de l’enseignement, Monière D. (ed.) : Actes du Colloque franco-québecois 2002 Du livre à Internet : Quelles universités ?, Paris : 19-21 juin</p>
<p><a href="../../assets/public/files/publications_scientifiques/MagUniFR_2002dec_articleHPGC.pdf">[File]</a> Platteaux H. &amp; Collaud G. (2002), "Faire l’expérience de ses rêves" in Universitas Fribourgensis - décembre, p. 9-11.</p>
    </div>
</div>
        </div>
    </div>
</li>

<li>
    <a id="" href="#" data-accordion-toggler="styleguide-6-6">Perceptions et effets des cours e-learning</a>
    <div data-accordion-content="styleguide-6-6">
        <div class="box inner-05">
            <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <p><a href="../../assets/public/files/publications_scientifiques/pdf_HoeinPlatteaux2008_SCIL08_v1.pdf">[File]</a> Hoein, S., &amp; Platteaux, H. (2008). Courses with virtual supports. Relations between students’ perception and participation willingness (A 3 cases’ study in Higher Education). Paper presented at the 3rd International SCIL Congress, St.Gallen Switzerland 22-23 May</p>
<p><a href="../../assets/public/files/publications_scientifiques/HoeinPlatteaux2006AprioriPerception_AIPU2006.pdf">[File]</a> Hoein, S., &amp; Platteaux, H. (2006). Influence de l’a priori des étudiants sur leur perception d’un cours e-Learning : analyse de trois cours donnés à l’Université de Fribourg (CH). Paper presented at the Conférence annuelle de l’Association Internationale de Pédagogie Universitaire, Monastir 16-18 mai.</p>
<p><a href="../../assets/public/files/publications_scientifiques/EARLI2005_Article_BCHP_V32.pdf">[File]</a> Charlier, B., &amp; Platteaux, H. (2005). Effects of a blended learning system for university teachers training. Paper presented at the Annual Conference of the European Association for Research on Learning and Instruction, Cyprus Nicosia 23-27th August.</p>
<p><a href="../../assets/public/files/publications_scientifiques/AIPU2005_Article_KSF_V3.pdf">[File]</a> Platteaux, H., Hoein, S., &amp; GroupeGirafe. (2005). Principes d’une formation sur les facteurs de succès d’un cours e-Learning. Paper presented at the Conférence annuelle de l’Association Internationale de Pédagogie Universitaire, Genève 12-14 septembre</p>
<p><a href="../../assets/public/files/publications_scientifiques/ICNEE2004_HP_Paper_V20.pdf">[File]</a> Platteaux, H. &amp; Dasen, V. (2004). How different students perceive e-Learning ? The case of the Antiquit@s ancient history course. In Proceedings of the 6th International Conference on New Educational Environments - Neuchâtel September 26th-28th. 6 p.</p>
<p><a href="../../assets/public/files/publications_scientifiques/AIPU2004_ArticleHP.pdf">[File]</a> Platteaux H., Hoein S. &amp; Adé-Damilano M. (2004). Acceptation des cours universitaires e-Learning : jugement a priori et situation vécue. in Conférence annuelle de l’Association Internationale de Pédagogie Universitaire. Marrakech Mai 3-7. 12 p.</p>
<p><a href="../../assets/public/files/publications_scientifiques/ICNEE2003_HP_Paper.pdf">[File]</a> Platteaux H. &amp; al. (2003), "How students perceive elearning situations ? The case of the SVC WBT embryology course" in Jutz C. &amp; al. (eds.) : Proceedings of the 5th International Conference on New Educational Environments - Lucerne May 26th-28th, pp. 21-26.</p>
    </div>
</div>
        </div>
    </div>
</li>
</ul>
    </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer-->
        


        <footer id="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-menu col-md-9">
                <div class="row">
                    <div class="col-xs-4">
                        <h6><a href="../../services/outils-logiciels/index.htm">OUTILS LOGICIELS</a></h6>
<ul><li class="first"><a href="https://www3.unifr.ch/it/fr/compilatio.html" title="Compilatio - Prévention du plagiat">Compilatio - Prévention du plagiat</a></li>
<li><a href="https://www.unifr.ch/it/fr/eddb.html" title="EDDB - Bases de données éducationnelles">EDDB - Bases de données éducationnelles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/formulaires-en-ligne.html" title="Formulaires en ligne">Formulaires en ligne</a></li>
<li><a href="https://www3.unifr.ch/it/fr/limesurvey.html" title="LimeSurvey - Questionnaires en ligne">LimeSurvey - Questionnaires en ligne</a></li>
<li><a href="https://www3.unifr.ch/it/fr/moodle.html" title="Moodle - plateforme d’apprentissage">Moodle - plateforme d’apprentissage</a></li>
<li><a href="http://" title=""></a></li>
<li><a href="https://www.unifr.ch/it/fr/teams.html" title="MS Teams - Cours et réunions en ligne">MS Teams - Cours et réunions en ligne</a></li>
<li><a href="https://www.unifr.ch/it/fr/redcap.html" title="REDCap - gestion des données personnelles et/ou sensibles">REDCap - gestion des données personnelles et/ou sensibles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchdrive.html" title="SWITCHdrive - Stockage et synchronisation de fichiers">SWITCHdrive - Stockage et synchronisation de fichiers</a></li>
<li><a href="https://www.unifr.ch/it/fr/switchengines.html" title="SWITCHengines - Machines de calcul virtuelles">SWITCHengines - Machines de calcul virtuelles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchfilesender.html" title="SWITCHfilesender - Transfert de fichiers volumineux">SWITCHfilesender - Transfert de fichiers volumineux</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchtube.html" title="SWITCHtube - Diffusion de vidéos">SWITCHtube - Diffusion de vidéos</a></li>
<li class="last"><a href="https://www.unifr.ch/it/fr/applimobileunifr.html" title="UniFR Mobile">UniFR Mobile</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="../../services/projets-et-activites/index.htm">PROJETS ET ACTIVITÉS</a></h6>
<ul><li class="first"><a href="../../services/projets-et-activites/atelier-spss.html" title="Atelier SPSS">Atelier SPSS</a></li>
<li><a href="../../services/projets-et-activites/callisto.html" title="Callisto">Callisto</a></li>
<li><a href="../../services/projets-et-activites/diatheque.html" title="Diathèque">Diathèque</a></li>
<li><a href="../../services/projets-et-activites/digitalskills.html" title="DigitalSkills">DigitalSkills</a></li>
<li><a href="../../services/projets-et-activites/equal.html" title="Equal+">Equal+</a></li>
<li><a href="../../services/projets-et-activites/getting-started.html" title="Getting Started">Getting Started</a></li>
<li><a href="../../services/projets-et-activites/ludus.html" title="Ludus">Ludus</a></li>
<li><a href="../../services/projets-et-activites/myple.html" title="MyPLE">MyPLE</a></li>
<li><a href="../../services/projets-et-activites/numismatique.html" title="NAFO">Numismatique</a></li>
<li><a href="../../services/projets-et-activites/pharmacologie.html" title="Pharmacologie">Pharmacologie</a></li>
<li><a href="../../services/projets-et-activites/pilgrims.html" title="Pilgrims">Pilgrims</a></li>
<li><a href="../../services/projets-et-activites/prestations-it.html" title="Prestations IT">Prestations IT</a></li>
<li><a href="../../services/projets-et-activites/slz-caa.html" title="SLZ-CAA">SLZ-CAA</a></li>
<li><a href="../../services/projets-et-activites/tests-de-classement-en-ligne.html" title="Tests de classement en ligne">Tests de classement en ligne</a></li>
<li class="last"><a href="../../services/projets-et-activites/anciens-projets/index.htm" title="Anciens projets">Anciens projets</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="../../services/ressources/index.htm">RESSOURCES</a></h6>
<ul><li class="first"><a href="../../services/ressources/guidevideo.html" title="Guide vidéo">Guide vidéo</a></li>
<li><a href="../../services/ressources/myple.html" title="Myple">Myple</a></li>
<li><a href="../../services/ressources/scenarios-moodle.html" title="Scénarios Moodle">Scénarios Moodle</a></li>
<li class="last"><a href="../../services/ressources/tutoriels-nte.html" title="Tutoriels NTE">Tutoriels NTE</a></li>
</ul>
                    </div>
                </div>
            </nav>
            <nav class="footer-menu--contact col-md-3 col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-md-12 inner">
                        




<div>
    <h6>Contact</h6>
    <p>Université de Fribourg</p>
    <p>Centre NTE - DIT</p>
    <p>Bvd Pérolles 90</p>
    <p>CH-1700 Fribourg</p>
    
    <p><a href="mailto:nte@unifr.ch" class="link">nte@unifr.ch</a></p>
    <p><a href="//www.unifr.ch/nte" class="link">www.unifr.ch/nte</a></p>
</div>
<div class="footer--social-links">
    <p>
        <a href="https://www.facebook.com/unifribourg" target="_blank" class="gfx gfx-facebook"></a>
        <a href="https://twitter.com/unifr" target="_blank" class="gfx gfx-twitter"></a>
        <a href="https://www.youtube.com/channel/UCx74T4l0XqJFLcdlCavnoXQ" target="_blank" class="fa fa-youtube-play"></a>
        <a href="https://www.linkedin.com/edu/school?id=10930" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://instagram.com/unifribourg/" target="_blank" class="fa fa-instagram"></a>
    </p>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EducationalOrganization",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Fribourg",
    "addressRegion": "FR",
    "postalCode": "1700",
    "streetAddress": "Bvd Pérolles 90"
  },
  "url" : "www.unifr.ch/nte",
  "name": "Centre NTE - DIT",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41 026 300 7034",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German"]
    } ],
  "parentOrganization": {
    "@context": "http://schema.org",
    "@type": "EducationalOrganization",
    "name":"Université de Fribourg | Universität Freiburg",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Fribourg",
        "addressRegion": "FR",
        "postalCode": "1700",
        "streetAddress": "Avenue de l'Europe 20"
    },
    "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41-026-300-7034",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German","Italian"],
      "url":"https://www.unifr.ch/unicom"
    } ],
    "sameAs" : "https://fr.wikipedia.org/wiki/Universit%C3%A9_de_Fribourg"
  }
}
</script>




    

                    </div>
                    <div class="col-sm-6 col-md-12">
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="footer-menu--meta">
        <div class="container">
            <div class="row">
                <div class="footer--copyright col-md-8 col-sm-6"><span>&copy; Université de Fribourg | </span><a href="//www.unifr.ch/impressum">Impressum</a> | <a href="//www.unifr.ch/disclaimer">Mentions légales</a> | <a href="//www.unifr.ch/help">Numéros d'urgence</a></div>
            </div>
        </div>
    </div>
</footer>

    </div>
</div>
<!-- Bundled scripts-->
<script src="../../../../uf/v2.4.1/js/shared.js"></script>
<script src="../../../../uf/v2.4.1/js/app.js"></script>

<!--[if lt IE 10]>
<script src="//cdn.unifr.ch/uf/v2.4.1/js/lt_ie_10.js"></script><![endif]-->
<!--[if lt IE 9]>
<script src="//cdn.unifr.ch/uf/v2.4.1/js/polyfills.js"></script><![endif]-->








<script>
    setTimeout(function(){
        $(document).ready(function($) {
            hash = "#"+window.location.hash.replace(/[^a-z0-9]/gi, '');
            if (hash) {
                $(hash).click();
            }
        });
    }, 250);

</script>

</body>
</html>