
<!--[if lt IE 9]><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><![endif]-->
<!--[if gt IE 8]><!-->
<!DOCTYPE html>
<!--<![endif]-->
<!--[if lt IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html><!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anciens projets | Centre NTE  | Université de Fribourg</title>
    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <link href="../../../../../uf/v2.4.1/css/bootstrap.css" rel="stylesheet">
    <link href="../../../../../uf/v2.4.1/css/main.css" rel="stylesheet">
    






    <link rel="shortcut icon" type="image/ico" href="../../../../../sharedconfig/favicon/favicon.ico">
    <!-- Load IE8 specific styles--><!--[if lt IE 9]>
    <link href="//cdn.unifr.ch/uf/v2.4.1/css/old_ie.css" rel="stylesheet"/><![endif]-->
    <script src="../../../../../uf/v2.4.1/js/modernizr.js"></script>
    <!-- Spiders alternative page -->
    
        <link rel="alternate" hreflang="fr" href="index.htm">
        
    
    


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8998TH');</script>
<!-- End Google Tag Manager -->



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


  ga('create', 'UA-11149209-1', 'auto');
  ga('private_track.set', 'anonymizeIp', true);

  ga('create', 'UA-80009120-2', 'auto', {'name': 'private_track'});
  ga('send', 'pageview');
  
	ga('private_track.send', 'pageview');
	ga('private_track.set', 'anonymizeIp', true);
	

</script>

    <link rel="stylesheet" href="../../../../../font-awesome/4.5.0/css/font-awesome.min.css">
    

<link href="../../../../../uf/v2.4.1/css/corr.css" rel="stylesheet">

<style>
	/*
	a[href^=http]{text-decoration:none;}
	footer a[href^=http]{text-decoration:none; color:#fff;}
	div.sub-menu li.star > a{font-weight:bold;}
	*/
</style>
    <!-- Removed by WebCopy --><!--<base href="//www.unifr.ch/nte/fr/">--><!-- Removed by WebCopy -->
</head>
<body data-lang="fr" class="marine">



<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8998TH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Page wrapper-->
<div id="wrapper">
    <!-- Fixed header-->
    <nav class="fixed-header pusher">
        <div class="fixed-header--bg">
            <div class="container clearfix">

                <!-- The logo -->
                

<a href="javascript:;" class="open-offcanvas square bg-branded hover hidden-desktop"></a><a href="javascript:;" class="hidden-desktop square logo" style="content: ''; display:block;height:55px;width:55px;  no-repeat center center; background-size:contain;"></a>

                

<div class="search hidden-mobile">

    


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Voir plus de résultat</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

    <a href="#" data-expander-toggler="search-47727" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square"><i class="gfx gfx-search"></i></a>
    <div data-expander-content="search-47727" data-expander-group="mobile-nav" class="search--input">
        <div class="container">
            
            <div class="input-group">
                <input type="text" class="form-control"><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="http://www.unifr.ch/nte" checked="checked" id="local-" class="hidden">
                <label for="local-" class="btn btn-primary sd">Local</label></span><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="www.unifr.ch" id="global-" class="hidden">
                <label for="global-" class="btn btn-default">Global</label></span>
            </div>
            
            <ul class="search--results">
                <li class="blank-slate">Aucun résultat</li>
            </ul>
        </div>
    </div>
</div>

                <!-- Globalmenu -->
                <div class="meta-menu"><a href="#" data-fixed-mode-toggler="mobile" data-accordion-toggler="metamenu" class="square meta-menu--toggler hover bg-branded-desk"><i class="gfx gfx-tiles"></i><i class="square-triangle"></i><span class="hidden-mobile">Accès rapide</span></a>
    <div data-accordion-content="metamenu" data-accordion-group="mobile-nav" class="meta-menu--content">
        <nav data-scroll-container="data-scroll-container" class="container">
            <ul>
                <li class="first-level"><a href="#" data-accordion-toggler="meta2" data-scroll-to-me="data-scroll-to-me">Université</a>
                    <nav data-accordion-content="meta2">
                        <ul>
                            <li><a href="http://studies.unifr.ch/fr" title="Les études: Bachelor, Master, Doctorat">Etudes</a></li>
                            <li><a href="https://www.unifr.ch/campus/fr" title="La vie sur le Campus">Campus</a></li>
                            <li><a href="https://www.unifr.ch/research/fr" title="La recherche">Recherche</a></li>
                            <li><a href="https://www.unifr.ch/uni/fr" title="L'Université en bref">Université</a></li>
                            <li><a href="https://www.unifr.ch/formcont/fr" title="Formation continue">Formation continue</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="#" data-accordion-toggler="meta1" data-scroll-to-me="data-scroll-to-me">Facultés</a>
                    <nav data-accordion-content="meta1">
                        <ul>
                            <li><a href="https://www.unifr.ch/theo/fr" title="Accéder à la faculté de théologie"><span class="glyphicon glyphicon-stop color-orange" aria-hidden="true"></span> Théologie</a></li>
                            <li><a href="https://www.unifr.ch/ius/fr" title="Accéder à la faculté de droit"><span class="glyphicon glyphicon-stop color-red" aria-hidden="true"></span> Droit</a></li>
                            <li><a href="https://www.unifr.ch/ses/" title="Accéder à la faculté des sciences économiques et sociales"> <span class="glyphicon glyphicon-stop color-purple" aria-hidden="true"></span> Sciences économiques et sociales et management</a></li>
							<li><a href="https://www.unifr.ch/lettres/fr" title="Accéder à la faculté des lettres et des sciences humaines"><span class="glyphicon glyphicon-stop color-sky" aria-hidden="true"></span> Lettres et sciences humaines</a></li>
                            <li><a href="https://www.unifr.ch/scimed/fr" title="Accéder à la faculté des sciences et de médecine "><span class="glyphicon glyphicon-stop color-green" aria-hidden="true"></span> Sciences et médecine</a></li>
                             <li><a href="https://www.unifr.ch/faculties/fr/interfacultaire.html" title="Interfacultaire"><span class="glyphicon glyphicon-stop color-marine" aria-hidden="true"></span> Interfacultaire</a></li>
                            
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="http://www.unifr.ch/you-are/fr/" data-accordion-toggler="meta0" data-scroll-to-me="data-scroll-to-me">Vous êtes</a>
                    <nav data-accordion-content="meta0">
                        <ul>
                            <li><a href="https://www.unifr.ch/you-are/fr/futurs-etudiants/" title="Vous êtes... futur·e·s étudiant·e·s">Futurs étudiants</a></li>
                            <li><a href="https://www.unifr.ch/you-are/fr/etudiants/" title="Vous êtes... étudiant·e·s">Etudiants</a></li>
                            <li><a href="https://www.unifr.ch/you-are/fr/medias/" title="Vous êtes... médias">Médias</a></li>
                            <li><a href="https://www.unifr.ch/you-are/fr/chercheurs/" title="Vous êtes... chercheuses et chercheurs">Chercheurs</a></li>
                            <li><a href="https://www.unifr.ch/you-are/fr/collaborateurs/" title="Vous êtes... collaboratrices et collaborateurs">Collaborateurs</a></li>
							<li><a href="https://www.unifr.ch/you-are/fr/doctorants/" title="Vous êtes... doctorant·e·s ">Doctorants</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level meta-menu--contact bg-branded-desk">
                    <a href="#" class="hidden-lg" data-accordion-toggler="contact" data-scroll-to-me="data-scroll-to-me">Ressources</a>
                    <nav data-accordion-content="contact">
                        <ul>
                            <li><a href="https://www.unifr.ch/directory/fr" class="gfx gfx-user">Annuaire du personnel</a></li>
                            <li><a href="https://www.unifr.ch/map" class="gfx gfx-directions"><span class="padding-sm">Plan d'accès</span></a></li>
                            <li><a style="padding-left:0px" href="https://www.unifr.ch/biblio"><span class="glyphicon glyphicon-book adjust-desk" aria-hidden="true"></span><span class="padding-sm">Bibliothèques</span></a></li>
                            <li><a href="https://mail.unifr.ch" class="gfx gfx-mail"><span class="padding-sm">Webmail</span></a></li>
                            <li><a style="padding-left:0px" href="https://www.unifr.ch/timetable/fr/"><span class="glyphicon glyphicon-calendar adjust-desk" aria-hidden="true"></span><span class="padding-sm">Programme des cours</span></a></li>
                            <li><a href="https://www.unifr.ch/login/se-connecter.php" class="gfx gfx-lock"><span class="padding-sm">MyUnifr</span></a></li>
                        </ul>
                    </nav>
                </li>
            </ul>
        </nav>
    </div>
</div>

<style>
    .adjust-desk{
        padding-right:1px
    }
    .padding-sm{
        padding-left:4px;
    }
    @media (min-width: 768px){
        .padding-sm{
            padding-left:0px;
        }
        .adjust-desk{
            padding-right:8px
        }
        .hidden-lg{
            display:none;
        }
        .meta-menu--content .first-level.meta-menu--contact nav a {
            font-family: inherit;
        }

        .meta-menu--toggler span{
            font-family: openSans-Regular-webfont,'Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size:13px;
        }
        .meta-menu--content {
            background: rgba(255,255,255,0.95);
        }
        .meta-menu--content .first-level.meta-menu--contact{
            background: #0c2447;

        }
        .meta-menu--content:after {
            background: #0c2447;
        }

        .bg-branded-desk,.bg-branded-desk:visited,.bg-branded-desk:hover,.bg-branded-desk:active {
        background: #0c2447;
        color: #fff!important;
        }

    }
</style>


                <!-- Desktop Langmenu -->
                

<nav class="hidden-mobile square language-switch">
    <ul>
        
<li><a href="index.htm" class=" bold">FR</a></li>
    </ul>
</nav>

                                <!-- Global Breadcrumb -->
                

<div style="background-color:yellow; text-align:center">
Le site NTE actuel est accessible à <a href="https://unifr.ch/it/fr/nte.html">unifr.ch/it/fr/nte.html</a>
</div>
                


<div class="breadcrumbs square">

    <a href="http://www.unifr.ch" data-accordion-toggler="crumbs" class="square bg-white hover hidden-desktop breadcrumbs--toggler"><i class="gfx gfx-home"></i><i class="square-triangle"></i></a>

    <div data-accordion-content="crumbs" data-accordion-group="mobile-nav" class="breadcrumbs--content">
        <nav class="breadcrumbs--mobile shortened">
            <ul class="breadcrumbs--slider">
                <!-- level 0 -->
                
                <li><a href="http://www.unifr.ch" class="gfx gfx-home"></a></li>
                

                <!-- level 1 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li>
                    <a href="http://www3.unifr.ch/it" class="short">Prestations IT</a>
                    <a href="http://www3.unifr.ch/it" class="long">Prestations IT</a>
                </li>
                
                <!-- level 2 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li class="desktop-expanded">
                    <a href="http://www3.unifr.ch/nte" class="short">Centre NTE</a>
                    <a href="http://www3.unifr.ch/nte" class="long">Centre NTE</a>
                </li>
                
                <!-- level 3 -->
                
            </ul>
        </nav>
    </div>
</div>
            </div>
        </div>
    </nav>
    <!-- Offcanvas pusher-->
    <div class="pusher pass-height">
        <!-- Page header/offcanvas-->
        <header id="header" class="offcanvas pass-height">
            <nav class="service-menu">
                <!-- mobile tools menu -->
                <div class="hidden-desktop clearfix">

                    <!-- Search Mobile -->
                    
                    <div class="search">
                        <!-- Template for one search result -->
                        


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Voir plus de résultat</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

                        <a href="#" data-expander-toggler="search-27564" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square"><i class="gfx gfx-search"></i></a>
                        <div data-expander-content="search-27564" data-expander-group="mobile-nav" class="search--input">
                            <div class="container">
                                
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="http://www.unifr.ch/nte" id="local-" class="hidden" checked="checked">
                                        <label for="local-" class="btn btn-primary sd">Local</label>
                                    </span>
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="www.unifr.ch" id="global-" class="hidden">
                                        <label for="global-" class="btn btn-default">Global</label>
                                    </span>
                                </div>
                                
                                <ul class="search--results">
                                    <li class="blank-slate">Aucun résultat</li>
                                </ul>
                             </div>
                        </div>
                    </div>


                    <!-- langmenu.mobile -->
                    

<nav class="language-switch square hover bg-white"><a href="#" data-accordion-toggler="language-switch" class="toggle-language-switch square">FR</a>
    <div data-accordion-content="language-switch" class="dropdown">
        <ul class="bg-white">
            

<li><a href="index.htm" class="square bg-white hover  bold">FR</a></li>
        </ul>
    </div>
</nav>
                    <a href="javascript:;" class="close-offcanvas square hover bg-marine"></a>
                </div>
                <div class="hidden-mobile">
                    <div class="container service-menu--relation">
                        <nav class="clearfix">
                            
                        </nav>
                        

<h1 class="logo"><span class="sr-only">Université de Fribourg</span><a href="//www.unifr.ch"><img src="../../../../../uf/v2.4.1/gfx/logo.png"></a></h1>

<p class="service-menu--department"><a href="../../../index.htm">Centre Nouvelles Technologie et Enseignement</a></p>
                    </div>
                </div>
            </nav>
            

<!-- Use class flat-menu or push-menu on this container-->
<!-- to toggle between the two types of navigation. The underlying-->
<!-- structure is exactly the same.-->
<nav class="push-menu container">
    <!-- First navigation level is visible, therefore needs-->
    <!-- the class .in-->
    <!-- .default is needed to not register a swipe event listener-->
    <div class="level default in">

        

<!-- start outerTpl -->
<ul>
    

<!-- start parentRowTpl -->
<li class="first active">
	<a href="../../index.htm" title="Services" class="deeper">
		Services
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		

<!-- start parentRowTpl -->
<li class="first active">
	<a href="../index.htm" title="Projets et activités" class="deeper">
		Projets et activités 
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="../atelier-spss.html" title="Atelier SPSS">Atelier SPSS</a></li>
<li><a href="../callisto.html" title="Callisto">Callisto</a></li>
<li><a href="../diatheque.html" title="Diathèque">Diathèque</a></li>
<li><a href="../digitalskills.html" title="DigitalSkills">DigitalSkills</a></li>
<li><a href="../equal.html" title="Equal+">Equal+</a></li>
<li><a href="../getting-started.html" title="Getting Started">Getting Started</a></li>
<li><a href="../ludus.html" title="Ludus">Ludus</a></li>
<li><a href="../myple.html" title="MyPLE">MyPLE</a></li>
<li><a href="../numismatique.html" title="NAFO">Numismatique</a></li>
<li><a href="../pharmacologie.html" title="Pharmacologie">Pharmacologie</a></li>
<li><a href="../pilgrims.html" title="Pilgrims">Pilgrims</a></li>
<li><a href="../prestations-it.html" title="Prestations IT">Prestations IT</a></li>
<li><a href="../slz-caa.html" title="SLZ-CAA">SLZ-CAA</a></li>
<li><a href="../tests-de-classement-en-ligne.html" title="Tests de classement en ligne">Tests de classement en ligne</a></li>
<li class="last active"><a href="index.htm" title="Anciens projets">Anciens projets</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="../../outils-logiciels/index.htm" title="Outils logiciels" class="deeper">
		Outils logiciels
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="https://www3.unifr.ch/it/fr/compilatio.html" title="Compilatio - Prévention du plagiat">Compilatio - Prévention du plagiat</a></li>
<li><a href="https://www.unifr.ch/it/fr/eddb.html" title="EDDB - Bases de données éducationnelles">EDDB - Bases de données éducationnelles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/formulaires-en-ligne.html" title="Formulaires en ligne">Formulaires en ligne</a></li>
<li><a href="https://www3.unifr.ch/it/fr/limesurvey.html" title="LimeSurvey - Questionnaires en ligne">LimeSurvey - Questionnaires en ligne</a></li>
<li><a href="https://www3.unifr.ch/it/fr/moodle.html" title="Moodle - plateforme d’apprentissage">Moodle - plateforme d’apprentissage</a></li>
<li><a href="http://" title=""></a></li>
<li><a href="https://www.unifr.ch/it/fr/teams.html" title="MS Teams - Cours et réunions en ligne">MS Teams - Cours et réunions en ligne</a></li>
<li><a href="https://www.unifr.ch/it/fr/redcap.html" title="REDCap - gestion des données personnelles et/ou sensibles">REDCap - gestion des données personnelles et/ou sensibles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchdrive.html" title="SWITCHdrive - Stockage et synchronisation de fichiers">SWITCHdrive - Stockage et synchronisation de fichiers</a></li>
<li><a href="https://www.unifr.ch/it/fr/switchengines.html" title="SWITCHengines - Machines de calcul virtuelles">SWITCHengines - Machines de calcul virtuelles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchfilesender.html" title="SWITCHfilesender - Transfert de fichiers volumineux">SWITCHfilesender - Transfert de fichiers volumineux</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchtube.html" title="SWITCHtube - Diffusion de vidéos">SWITCHtube - Diffusion de vidéos</a></li>
<li class="last"><a href="https://www.unifr.ch/it/fr/applimobileunifr.html" title="UniFR Mobile">UniFR Mobile</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="last">
	<a href="../../ressources/index.htm" title="Ressources" class="deeper">
		Ressources
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="../../ressources/guidevideo.html" title="Guide vidéo">Guide vidéo</a></li>
<li><a href="../../ressources/myple.html" title="Myple">Myple</a></li>
<li><a href="../../ressources/scenarios-moodle.html" title="Scénarios Moodle">Scénarios Moodle</a></li>
<li class="last"><a href="../../ressources/tutoriels-nte.html" title="Tutoriels NTE">Tutoriels NTE</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li><a href="https://nte.unifr.ch/blog" title="Blog">Blog</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="../../../a-notre-sujet/index.htm" title="A notre sujet" class="deeper">
		A notre sujet
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		

<!-- start parentRowTpl -->
<li class="first">
	<a href="../../../a-notre-sujet/documents/index.htm" title="Documents" class="deeper">
		Documents
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="../../../a-notre-sujet/documents/affiches.html" title="Affiches">Affiches</a></li>
<li><a href="../../../a-notre-sujet/documents/rapports-annuels.html" title="Rapports annuels">Rapports annuels</a></li>
<li><a href="../../../a-notre-sujet/documents/rapports-de-projets.html" title="Rapports de projets">Rapports de projets</a></li>
<li class="last"><a href="../../../a-notre-sujet/documents/publications-scientifiques.html" title="Publications scientifiques">Publications scientifiques</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li class="last"><a href="../../../a-notre-sujet/equipe/index.htm" title="L'équipe du Centre NTE" 2188="">L'équipe du Centre NTE</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li class="last"><a href="../../../contact.html" title="Contact">Contact</a></li>

</ul>
<!-- end outerTpl -->

    </div>
</nav>

        </header>
        <!-- Main content-->
        <main id="main">
            <div class="visible-lt-ie9 fixed-page-overlay"></div>
            <div class="container">
                <div class="sub-menu--spacer"></div>
                



<nav class="deepcrumbs">
<ul>
    
        <li><a href="../../../index.htm" class="gfx gfx-home"></a></li>
	<li><a href="../../index.htm">Services</a></li><li><a href="../index.htm">Projets et activités</a></li><li>Anciens projets</li>
</ul>
</nav>

                <div class="content">
                    <div class="row inner">
                        <div class="col-md-3 sub-menu">
                            <nav>
                                <h4>
                                    
                                    <a href="../../index.htm" data-expander-toggler="sub-menu" data-fixed-mode-toggler="mobile" class="filter--title fixed-page-mode--toggler hidden-min-laptop">
                                        Services</a>
                                    <a href="../../index.htm" class="hidden-max-laptop">
                                        Services</a>
                                    
                                </h4>

                                <div data-expander-content="sub-menu" data-expander-group="mobile-nav" class="sub-menu--content">

                                    <ul>


<!--parentRowTpl-->
<li class="first">
    <a href="../index.htm" title="Projets et activités" class="deeper">
        Projets et activités  <i data-expander-toggler="sub-menu-167" data-expander-state="open" class="gfx gfx-triangle-thin-down"></i>

    </a>
    <div data-expander-content="sub-menu-167" class="level" data-expander-state="open">
        <ul><li class="first"><a href="../atelier-spss.html" title="Atelier SPSS">Atelier SPSS</a></li>
<li><a href="../callisto.html" title="Callisto">Callisto</a></li>
<li><a href="../diatheque.html" title="Diathèque">Diathèque</a></li>
<li><a href="../digitalskills.html" title="DigitalSkills">DigitalSkills</a></li>
<li><a href="../equal.html" title="Equal+">Equal+</a></li>
<li><a href="../getting-started.html" title="Getting Started">Getting Started</a></li>
<li><a href="../ludus.html" title="Ludus">Ludus</a></li>
<li><a href="../myple.html" title="MyPLE">MyPLE</a></li>
<li><a href="../numismatique.html" title="NAFO">Numismatique</a></li>
<li><a href="../pharmacologie.html" title="Pharmacologie">Pharmacologie</a></li>
<li><a href="../pilgrims.html" title="Pilgrims">Pilgrims</a></li>
<li><a href="../prestations-it.html" title="Prestations IT">Prestations IT</a></li>
<li><a href="../slz-caa.html" title="SLZ-CAA">SLZ-CAA</a></li>
<li><a href="../tests-de-classement-en-ligne.html" title="Tests de classement en ligne">Tests de classement en ligne</a></li>



<!--parentRowTpl-->
<li class="last active">
    <a href="index.htm" title="Anciens projets" class="deeper">
        Anciens projets <i data-expander-toggler="sub-menu-18" data-expander-state="open" class="gfx gfx-triangle-thin-down"></i>

    </a>
    <div data-expander-content="sub-menu-18" class="level" data-expander-state="open">
        <ul><li class="first"><a href="accompagnement-cours-elearning.html" title="Accompagnement cours elearning">Accompagnement cours elearning</a></li>
<li><a href="administration-didactique.html" title="Administration didactique">Administration didactique</a></li>
<li><a href="agathokles.html" title="Agathokles">Agathokles</a></li>
<li><a href="annotations-en-ligne.html" title="Annotations en ligne">Annotations en ligne</a></li>
<li><a href="antiquitas.html" title="Antiquitas">Antiquitas</a></li>
<li><a href="approche-constructionniste-des-nti.html" title="Approche constructionniste des NTI">Approche constructionniste des NTI</a></li>
<li><a href="archeologie-paleochretienne.html" title="Archéologie paléochrétienne">Archéologie paléochrétienne</a></li>
<li><a href="archeologie-paleochretienne-et-byzantine.html" title="Archéologie paléochrétienne et byzantine">Archéologie paléochrétienne et byzantine</a></li>
<li><a href="archeologie-paleochretienne-ii.html" title="Archéologie paléochrétienne II">Archéologie paléochrétienne II</a></li>
<li><a href="archeologie-paleochretienne-iii.html" title="Archéologie paléochrétienne III (vêtements et architecture)">Archéologie paléochrétienne III (vêtements et architecture)</a></li>
<li><a href="autoevaluation-ikt.html" title="AutoEvaluation IKT">AutoEvaluation IKT</a></li>
<li><a href="cultures-hackers.html" title="Cultures Hackers">Cultures Hackers</a></li>
<li><a href="autoevaluation-ikt-v2.0.html" title="AutoEvaluation IKT v2.0">AutoEvaluation IKT v2.0</a></li>
<li><a href="autogramm.html" title="AutoGramm">AutoGramm</a></li>
<li><a href="autogramm-ii.html" title="AutoGramm II">AutoGramm II</a></li>
<li><a href="awale.html" title="Awale">Awale</a></li>
<li><a href="a-web-based-training-in-medical-embryology.html" title="A Web-based Training in Medical Embryology">A Web-based Training in Medical Embryology</a></li>
<li><a href="banque-d%E2%80%99exercices-de-linguistique-fran%C3%A7aise.html" title="Banque d’exercices de Linguistique française">Banque d’exercices de Linguistique française</a></li>
<li><a href="biblische-umwelt-des-alten-testaments.html" title="Biblische Umwelt des Alten Testaments">Biblische Umwelt des Alten Testaments</a></li>
<li><a href="bibup-gestion-des-references-bibliographiques-old.html" title="BiBup - Gestion des références bibliographiques">BiBup - Gestion des références bibliographiques</a></li>
<li><a href="bogart.html" title="BoGart">BoGart</a></li>
<li><a href="bureau-virtuel.html" title="Bureau virtuel">Bureau virtuel</a></li>
<li><a href="chat.html" title="Chat">Chat</a></li>
<li><a href="chemvisu-visualisation-in-chemistry.html" title="CHEMvisu : Visualisation in Chemistry">CHEMvisu : Visualisation in Chemistry</a></li>
<li><a href="codicologie-i-et-ii.html" title="Codicologie I et II">Codicologie I et II</a></li>
<li><a href="difa.html" title="DIFA">DIFA</a></li>
<li><a href="droit-international-public-et-droit-europeen.html" title="Droit international public et droit européen">Droit international public et droit européen</a></li>
<li><a href="departement-de-medecine.html" title="Département de Médecine">Département de Médecine</a></li>
<li><a href="dualt.html" title="DualT">DualT</a></li>
<li><a href="e-book-en-pedagogie-curative.html" title="E-book en pédagogie curative">E-book en pédagogie curative</a></li>
<li><a href="einf%C3%BChrung-in-die-qualitativ-empirische-sozialforschung-am-beispiel-der-religionsforschung.html" title="Einführung in die qualitativ-empirische Sozialforschung am Beispiel der Religionsforschung">Einführung in die qualitativ-empirische Sozialforschung am Beispiel der Religionsforschung</a></li>
<li><a href="einfuehrung-in-die-statistik-i-und-ii.html" title="Einführung in die Statistik I und II">Einführung in die Statistik I und II</a></li>
<li><a href="elo-ii.html" title="ELO II">ELO II</a></li>
<li><a href="epiphania.html" title="Epiphania">Epiphania</a></li>
<li><a href="european-law-online.html" title="European Law Online">European Law Online</a></li>
<li><a href="faculte-online.html" title="Faculté Online">Faculté Online</a></li>
<li><a href="flurina-cooperaziun-virtuala-per-l-instrucziun-da-rumantsch.html" title="FLURINA- Cooperaziun virtuala per l’instrucziun da Rumantsch">FLURINA- Cooperaziun virtuala per l’instrucziun da Rumantsch</a></li>
<li><a href="hieroglyphes.html" title="Hiéroglyphes">Hiéroglyphes</a></li>
<li><a href="histoire-de-l-education.html" title="Histoire de l'éducation">Histoire de l'éducation</a></li>
<li><a href="histologie.html" title="Histologie">Histologie</a></li>
<li><a href="html-basiertes-informationssystem-fuer-die-ausbildung-zu-psychodiagnostischen-verfahren.html" title="HTML-basiertes Informationssystem für die Ausbildung zu psychodiagnostischen Verfahren">HTML-basiertes Informationssystem für die Ausbildung zu psychodiagnostischen Verfahren</a></li>
<li><a href="importer-des-donnees-d-un-fichier-qcm-vers-moodle-quiz.html" title="Importer des données d’un fichier .qcm vers Moodle (quiz)">Importer des données d’un fichier .qcm vers Moodle (quiz)</a></li>
<li><a href="introduction-a-lhistoire-du-bassin-mediterraneen.html" title="Introduction à l’histoire du bassin méditerranéen">Introduction à l’histoire du bassin méditerranéen</a></li>
<li><a href="introduction-a-linformatique-de-gestion.html" title="Introduction à l'informatique de gestion">Introduction à l'informatique de gestion</a></li>
<li><a href="jardin-botanique-ii.html" title="Jardin botanique II">Jardin botanique II</a></li>
<li><a href="lassemblee-de-posieux.html" title="L’assemblée de Posieux">L’assemblée de Posieux</a></li>
<li><a href="la-reincarnation-d-helvetia.html" title="La réincarnation d’Helvetia">La réincarnation d’Helvetia</a></li>
<li><a href="learning-object-repository.html" title="Learning Object Repository">Learning Object Repository</a></li>
<li><a href="metaphysique-contemporaine.html" title="Métaphysique contemporaine">Métaphysique contemporaine</a></li>
<li><a href="moodle-et-latex.html" title="Moodle et Latex">Moodle et Latex</a></li>
<li><a href="musee-virtuel-sur-laliment-medicament.html" title="Musée virtuel sur l'aliment-médicament">Musée virtuel sur l'aliment-médicament</a></li>
<li><a href="neurologie-et-handicaps.html" title="Neurologie et Handicaps">Neurologie et Handicaps</a></li>
<li><a href="numerisation-video.html" title="Numérisation vidéo">Numérisation vidéo</a></li>
<li><a href="orthodoxia.html" title="Orthodoxia">Orthodoxia</a></li>
<li><a href="paarfit-das-freiburger-stress-praventionstraining.html" title="paarfit : Das Freiburger Stress-Präventionstraining">paarfit : Das Freiburger Stress-Präventionstraining</a></li>
<li><a href="padagogische-psychologie-iii.html" title="Pädagogische Psychologie I+II">Pädagogische Psychologie I+II</a></li>
<li><a href="planetary-energy-balance-model-i.html" title="Planetary Energy Balance Model I">Planetary Energy Balance Model I</a></li>
<li><a href="planetary-energy-balance-model-ii.html" title="Planetary Energy Balance Model II">Planetary Energy Balance Model II</a></li>
<li><a href="planetary-energy-balance-model-iii.html" title="Planetary Energy Balance Model III">Planetary Energy Balance Model III</a></li>
<li><a href="problem-based-learning-in-medical-embryology.html" title="Problem-based Learning in Medical Embryology">Problem-based Learning in Medical Embryology</a></li>
<li><a href="psychologie-p%C3%A9dagogique.html" title="Psychologie pédagogique">Psychologie pédagogique</a></li>
<li><a href="psychologie-pedagogique-de-l-adolescent-ii.html" title="Psychologie pédagogique de l’adolescent II">Psychologie pédagogique de l’adolescent II</a></li>
<li><a href="publication-electronique-epub.html" title="Publication électronique - EPUB">Publication électronique - EPUB</a></li>
<li><a href="resolution-de-puzzles-par-des-methodes-informatiques.html" title="Résolution de puzzles par des méthodes informatiques">Résolution de puzzles par des méthodes informatiques</a></li>
<li><a href="revues-suisses.html" title="Revues suisses">Revues suisses</a></li>
<li><a href="sequences-video-du-jeu-awale.html" title="Séquences vidéo du jeu Awalé">Séquences vidéo du jeu Awalé</a></li>
<li><a href="scenarios-moodle.html" title="Scénarios Moodle">Scénarios Moodle</a></li>
<li><a href="systemes-repartis.html" title="Systèmes répartis">Systèmes répartis</a></li>
<li><a href="systemes-repartis-ii.html" title="Systèmes répartis II">Systèmes répartis II</a></li>
<li><a href="th%C3%A8ses-%C3%A9lectroniques.html" title="Thèses électroniques">Thèses électroniques</a></li>
<li><a href="video-digitalisierung.html" title="Video Digitalisierung">Video Digitalisierung</a></li>
<li><a href="vote-en-ligne.html" title="Vote en ligne">Vote en ligne</a></li>
<li class="last"><a href="webapp.html" title="Webapp">Webapp</a></li>
</ul>
    </div>
</li>
<!--/parentRowTpl-->
</ul>
    </div>
</li>
<!--/parentRowTpl-->



<!--parentRowTpl-->
<li class="">
    <a href="../../outils-logiciels/index.htm" title="Outils logiciels" class="deeper">
        Outils logiciels <i data-expander-toggler="sub-menu-133" class="gfx gfx-triangle-thin-down"></i>

    </a>
    <div data-expander-content="sub-menu-133" class="level">
        <ul><li class="first"><a href="https://www3.unifr.ch/it/fr/compilatio.html" title="Compilatio - Prévention du plagiat">Compilatio - Prévention du plagiat</a></li>
<li><a href="https://www.unifr.ch/it/fr/eddb.html" title="EDDB - Bases de données éducationnelles">EDDB - Bases de données éducationnelles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/formulaires-en-ligne.html" title="Formulaires en ligne">Formulaires en ligne</a></li>
<li><a href="https://www3.unifr.ch/it/fr/limesurvey.html" title="LimeSurvey - Questionnaires en ligne">LimeSurvey - Questionnaires en ligne</a></li>
<li><a href="https://www3.unifr.ch/it/fr/moodle.html" title="Moodle - plateforme d’apprentissage">Moodle - plateforme d’apprentissage</a></li>
<li><a href="http://" title=""></a></li>
<li><a href="https://www.unifr.ch/it/fr/teams.html" title="MS Teams - Cours et réunions en ligne">MS Teams - Cours et réunions en ligne</a></li>
<li><a href="https://www.unifr.ch/it/fr/redcap.html" title="REDCap - gestion des données personnelles et/ou sensibles">REDCap - gestion des données personnelles et/ou sensibles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchdrive.html" title="SWITCHdrive - Stockage et synchronisation de fichiers">SWITCHdrive - Stockage et synchronisation de fichiers</a></li>
<li><a href="https://www.unifr.ch/it/fr/switchengines.html" title="SWITCHengines - Machines de calcul virtuelles">SWITCHengines - Machines de calcul virtuelles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchfilesender.html" title="SWITCHfilesender - Transfert de fichiers volumineux">SWITCHfilesender - Transfert de fichiers volumineux</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchtube.html" title="SWITCHtube - Diffusion de vidéos">SWITCHtube - Diffusion de vidéos</a></li>
<li class="last"><a href="https://www.unifr.ch/it/fr/applimobileunifr.html" title="UniFR Mobile">UniFR Mobile</a></li>
</ul>
    </div>
</li>
<!--/parentRowTpl-->



<!--parentRowTpl-->
<li class="last">
    <a href="../../ressources/index.htm" title="Ressources" class="deeper">
        Ressources <i data-expander-toggler="sub-menu-23" class="gfx gfx-triangle-thin-down"></i>

    </a>
    <div data-expander-content="sub-menu-23" class="level">
        <ul><li class="first"><a href="../../ressources/guidevideo.html" title="Guide vidéo">Guide vidéo</a></li>
<li><a href="../../ressources/myple.html" title="Myple">Myple</a></li>
<li><a href="../../ressources/scenarios-moodle.html" title="Scénarios Moodle">Scénarios Moodle</a></li>
<li class="last"><a href="../../ressources/tutoriels-nte.html" title="Tutoriels NTE">Tutoriels NTE</a></li>
</ul>
    </div>
</li>
<!--/parentRowTpl-->
</ul>

                                </div>

                            </nav>

                        </div>
                        <div class="col-md-9 inner-30">
                            <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <h6><a href="index.htm">ANCIENS PROJETS</a></h6>
<ul><li class="first"><a href="accompagnement-cours-elearning.html" title="Accompagnement cours elearning">Accompagnement cours elearning</a></li>
<li><a href="administration-didactique.html" title="Administration didactique">Administration didactique</a></li>
<li><a href="agathokles.html" title="Agathokles">Agathokles</a></li>
<li><a href="annotations-en-ligne.html" title="Annotations en ligne">Annotations en ligne</a></li>
<li><a href="antiquitas.html" title="Antiquitas">Antiquitas</a></li>
<li><a href="approche-constructionniste-des-nti.html" title="Approche constructionniste des NTI">Approche constructionniste des NTI</a></li>
<li><a href="archeologie-paleochretienne.html" title="Archéologie paléochrétienne">Archéologie paléochrétienne</a></li>
<li><a href="archeologie-paleochretienne-et-byzantine.html" title="Archéologie paléochrétienne et byzantine">Archéologie paléochrétienne et byzantine</a></li>
<li><a href="archeologie-paleochretienne-ii.html" title="Archéologie paléochrétienne II">Archéologie paléochrétienne II</a></li>
<li><a href="archeologie-paleochretienne-iii.html" title="Archéologie paléochrétienne III (vêtements et architecture)">Archéologie paléochrétienne III (vêtements et architecture)</a></li>
<li><a href="autoevaluation-ikt.html" title="AutoEvaluation IKT">AutoEvaluation IKT</a></li>
<li><a href="cultures-hackers.html" title="Cultures Hackers">Cultures Hackers</a></li>
<li><a href="autoevaluation-ikt-v2.0.html" title="AutoEvaluation IKT v2.0">AutoEvaluation IKT v2.0</a></li>
<li><a href="autogramm.html" title="AutoGramm">AutoGramm</a></li>
<li><a href="autogramm-ii.html" title="AutoGramm II">AutoGramm II</a></li>
<li><a href="awale.html" title="Awale">Awale</a></li>
<li><a href="a-web-based-training-in-medical-embryology.html" title="A Web-based Training in Medical Embryology">A Web-based Training in Medical Embryology</a></li>
<li><a href="banque-d%E2%80%99exercices-de-linguistique-fran%C3%A7aise.html" title="Banque d’exercices de Linguistique française">Banque d’exercices de Linguistique française</a></li>
<li><a href="biblische-umwelt-des-alten-testaments.html" title="Biblische Umwelt des Alten Testaments">Biblische Umwelt des Alten Testaments</a></li>
<li><a href="bibup-gestion-des-references-bibliographiques-old.html" title="BiBup - Gestion des références bibliographiques">BiBup - Gestion des références bibliographiques</a></li>
<li><a href="bogart.html" title="BoGart">BoGart</a></li>
<li><a href="bureau-virtuel.html" title="Bureau virtuel">Bureau virtuel</a></li>
<li><a href="chat.html" title="Chat">Chat</a></li>
<li><a href="chemvisu-visualisation-in-chemistry.html" title="CHEMvisu : Visualisation in Chemistry">CHEMvisu : Visualisation in Chemistry</a></li>
<li><a href="codicologie-i-et-ii.html" title="Codicologie I et II">Codicologie I et II</a></li>
<li><a href="difa.html" title="DIFA">DIFA</a></li>
<li><a href="droit-international-public-et-droit-europeen.html" title="Droit international public et droit européen">Droit international public et droit européen</a></li>
<li><a href="departement-de-medecine.html" title="Département de Médecine">Département de Médecine</a></li>
<li><a href="dualt.html" title="DualT">DualT</a></li>
<li><a href="e-book-en-pedagogie-curative.html" title="E-book en pédagogie curative">E-book en pédagogie curative</a></li>
<li><a href="einf%C3%BChrung-in-die-qualitativ-empirische-sozialforschung-am-beispiel-der-religionsforschung.html" title="Einführung in die qualitativ-empirische Sozialforschung am Beispiel der Religionsforschung">Einführung in die qualitativ-empirische Sozialforschung am Beispiel der Religionsforschung</a></li>
<li><a href="einfuehrung-in-die-statistik-i-und-ii.html" title="Einführung in die Statistik I und II">Einführung in die Statistik I und II</a></li>
<li><a href="elo-ii.html" title="ELO II">ELO II</a></li>
<li><a href="epiphania.html" title="Epiphania">Epiphania</a></li>
<li><a href="european-law-online.html" title="European Law Online">European Law Online</a></li>
<li><a href="faculte-online.html" title="Faculté Online">Faculté Online</a></li>
<li><a href="flurina-cooperaziun-virtuala-per-l-instrucziun-da-rumantsch.html" title="FLURINA- Cooperaziun virtuala per l’instrucziun da Rumantsch">FLURINA- Cooperaziun virtuala per l’instrucziun da Rumantsch</a></li>
<li><a href="hieroglyphes.html" title="Hiéroglyphes">Hiéroglyphes</a></li>
<li><a href="histoire-de-l-education.html" title="Histoire de l'éducation">Histoire de l'éducation</a></li>
<li><a href="histologie.html" title="Histologie">Histologie</a></li>
<li><a href="html-basiertes-informationssystem-fuer-die-ausbildung-zu-psychodiagnostischen-verfahren.html" title="HTML-basiertes Informationssystem für die Ausbildung zu psychodiagnostischen Verfahren">HTML-basiertes Informationssystem für die Ausbildung zu psychodiagnostischen Verfahren</a></li>
<li><a href="importer-des-donnees-d-un-fichier-qcm-vers-moodle-quiz.html" title="Importer des données d’un fichier .qcm vers Moodle (quiz)">Importer des données d’un fichier .qcm vers Moodle (quiz)</a></li>
<li><a href="introduction-a-lhistoire-du-bassin-mediterraneen.html" title="Introduction à l’histoire du bassin méditerranéen">Introduction à l’histoire du bassin méditerranéen</a></li>
<li><a href="introduction-a-linformatique-de-gestion.html" title="Introduction à l'informatique de gestion">Introduction à l'informatique de gestion</a></li>
<li><a href="jardin-botanique-ii.html" title="Jardin botanique II">Jardin botanique II</a></li>
<li><a href="lassemblee-de-posieux.html" title="L’assemblée de Posieux">L’assemblée de Posieux</a></li>
<li><a href="la-reincarnation-d-helvetia.html" title="La réincarnation d’Helvetia">La réincarnation d’Helvetia</a></li>
<li><a href="learning-object-repository.html" title="Learning Object Repository">Learning Object Repository</a></li>
<li><a href="metaphysique-contemporaine.html" title="Métaphysique contemporaine">Métaphysique contemporaine</a></li>
<li><a href="moodle-et-latex.html" title="Moodle et Latex">Moodle et Latex</a></li>
<li><a href="musee-virtuel-sur-laliment-medicament.html" title="Musée virtuel sur l'aliment-médicament">Musée virtuel sur l'aliment-médicament</a></li>
<li><a href="neurologie-et-handicaps.html" title="Neurologie et Handicaps">Neurologie et Handicaps</a></li>
<li><a href="numerisation-video.html" title="Numérisation vidéo">Numérisation vidéo</a></li>
<li><a href="orthodoxia.html" title="Orthodoxia">Orthodoxia</a></li>
<li><a href="paarfit-das-freiburger-stress-praventionstraining.html" title="paarfit : Das Freiburger Stress-Präventionstraining">paarfit : Das Freiburger Stress-Präventionstraining</a></li>
<li><a href="padagogische-psychologie-iii.html" title="Pädagogische Psychologie I+II">Pädagogische Psychologie I+II</a></li>
<li><a href="planetary-energy-balance-model-i.html" title="Planetary Energy Balance Model I">Planetary Energy Balance Model I</a></li>
<li><a href="planetary-energy-balance-model-ii.html" title="Planetary Energy Balance Model II">Planetary Energy Balance Model II</a></li>
<li><a href="planetary-energy-balance-model-iii.html" title="Planetary Energy Balance Model III">Planetary Energy Balance Model III</a></li>
<li><a href="problem-based-learning-in-medical-embryology.html" title="Problem-based Learning in Medical Embryology">Problem-based Learning in Medical Embryology</a></li>
<li><a href="psychologie-p%C3%A9dagogique.html" title="Psychologie pédagogique">Psychologie pédagogique</a></li>
<li><a href="psychologie-pedagogique-de-l-adolescent-ii.html" title="Psychologie pédagogique de l’adolescent II">Psychologie pédagogique de l’adolescent II</a></li>
<li><a href="publication-electronique-epub.html" title="Publication électronique - EPUB">Publication électronique - EPUB</a></li>
<li><a href="resolution-de-puzzles-par-des-methodes-informatiques.html" title="Résolution de puzzles par des méthodes informatiques">Résolution de puzzles par des méthodes informatiques</a></li>
<li><a href="revues-suisses.html" title="Revues suisses">Revues suisses</a></li>
<li><a href="sequences-video-du-jeu-awale.html" title="Séquences vidéo du jeu Awalé">Séquences vidéo du jeu Awalé</a></li>
<li><a href="scenarios-moodle.html" title="Scénarios Moodle">Scénarios Moodle</a></li>
<li><a href="systemes-repartis.html" title="Systèmes répartis">Systèmes répartis</a></li>
<li><a href="systemes-repartis-ii.html" title="Systèmes répartis II">Systèmes répartis II</a></li>
<li><a href="th%C3%A8ses-%C3%A9lectroniques.html" title="Thèses électroniques">Thèses électroniques</a></li>
<li><a href="video-digitalisierung.html" title="Video Digitalisierung">Video Digitalisierung</a></li>
<li><a href="vote-en-ligne.html" title="Vote en ligne">Vote en ligne</a></li>
<li class="last"><a href="webapp.html" title="Webapp">Webapp</a></li>
</ul>
    </div>
</div>
    </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer-->
        


        <footer id="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-menu col-md-9">
                <div class="row">
                    <div class="col-xs-4">
                        <h6><a href="../../outils-logiciels/index.htm">OUTILS LOGICIELS</a></h6>
<ul><li class="first"><a href="https://www3.unifr.ch/it/fr/compilatio.html" title="Compilatio - Prévention du plagiat">Compilatio - Prévention du plagiat</a></li>
<li><a href="https://www.unifr.ch/it/fr/eddb.html" title="EDDB - Bases de données éducationnelles">EDDB - Bases de données éducationnelles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/formulaires-en-ligne.html" title="Formulaires en ligne">Formulaires en ligne</a></li>
<li><a href="https://www3.unifr.ch/it/fr/limesurvey.html" title="LimeSurvey - Questionnaires en ligne">LimeSurvey - Questionnaires en ligne</a></li>
<li><a href="https://www3.unifr.ch/it/fr/moodle.html" title="Moodle - plateforme d’apprentissage">Moodle - plateforme d’apprentissage</a></li>
<li><a href="http://" title=""></a></li>
<li><a href="https://www.unifr.ch/it/fr/teams.html" title="MS Teams - Cours et réunions en ligne">MS Teams - Cours et réunions en ligne</a></li>
<li><a href="https://www.unifr.ch/it/fr/redcap.html" title="REDCap - gestion des données personnelles et/ou sensibles">REDCap - gestion des données personnelles et/ou sensibles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchdrive.html" title="SWITCHdrive - Stockage et synchronisation de fichiers">SWITCHdrive - Stockage et synchronisation de fichiers</a></li>
<li><a href="https://www.unifr.ch/it/fr/switchengines.html" title="SWITCHengines - Machines de calcul virtuelles">SWITCHengines - Machines de calcul virtuelles</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchfilesender.html" title="SWITCHfilesender - Transfert de fichiers volumineux">SWITCHfilesender - Transfert de fichiers volumineux</a></li>
<li><a href="https://www3.unifr.ch/it/fr/switchtube.html" title="SWITCHtube - Diffusion de vidéos">SWITCHtube - Diffusion de vidéos</a></li>
<li class="last"><a href="https://www.unifr.ch/it/fr/applimobileunifr.html" title="UniFR Mobile">UniFR Mobile</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="../index.htm">PROJETS ET ACTIVITÉS</a></h6>
<ul><li class="first"><a href="../atelier-spss.html" title="Atelier SPSS">Atelier SPSS</a></li>
<li><a href="../callisto.html" title="Callisto">Callisto</a></li>
<li><a href="../diatheque.html" title="Diathèque">Diathèque</a></li>
<li><a href="../digitalskills.html" title="DigitalSkills">DigitalSkills</a></li>
<li><a href="../equal.html" title="Equal+">Equal+</a></li>
<li><a href="../getting-started.html" title="Getting Started">Getting Started</a></li>
<li><a href="../ludus.html" title="Ludus">Ludus</a></li>
<li><a href="../myple.html" title="MyPLE">MyPLE</a></li>
<li><a href="../numismatique.html" title="NAFO">Numismatique</a></li>
<li><a href="../pharmacologie.html" title="Pharmacologie">Pharmacologie</a></li>
<li><a href="../pilgrims.html" title="Pilgrims">Pilgrims</a></li>
<li><a href="../prestations-it.html" title="Prestations IT">Prestations IT</a></li>
<li><a href="../slz-caa.html" title="SLZ-CAA">SLZ-CAA</a></li>
<li><a href="../tests-de-classement-en-ligne.html" title="Tests de classement en ligne">Tests de classement en ligne</a></li>
<li class="last"><a href="index.htm" title="Anciens projets">Anciens projets</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="../../ressources/index.htm">RESSOURCES</a></h6>
<ul><li class="first"><a href="../../ressources/guidevideo.html" title="Guide vidéo">Guide vidéo</a></li>
<li><a href="../../ressources/myple.html" title="Myple">Myple</a></li>
<li><a href="../../ressources/scenarios-moodle.html" title="Scénarios Moodle">Scénarios Moodle</a></li>
<li class="last"><a href="../../ressources/tutoriels-nte.html" title="Tutoriels NTE">Tutoriels NTE</a></li>
</ul>
                    </div>
                </div>
            </nav>
            <nav class="footer-menu--contact col-md-3 col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-md-12 inner">
                        




<div>
    <h6>Contact</h6>
    <p>Université de Fribourg</p>
    <p>Centre NTE - DIT</p>
    <p>Bvd Pérolles 90</p>
    <p>CH-1700 Fribourg</p>
    
    <p><a href="mailto:nte@unifr.ch" class="link">nte@unifr.ch</a></p>
    <p><a href="//www.unifr.ch/nte" class="link">www.unifr.ch/nte</a></p>
</div>
<div class="footer--social-links">
    <p>
        <a href="https://www.facebook.com/unifribourg" target="_blank" class="gfx gfx-facebook"></a>
        <a href="https://twitter.com/unifr" target="_blank" class="gfx gfx-twitter"></a>
        <a href="https://www.youtube.com/channel/UCx74T4l0XqJFLcdlCavnoXQ" target="_blank" class="fa fa-youtube-play"></a>
        <a href="https://www.linkedin.com/edu/school?id=10930" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://instagram.com/unifribourg/" target="_blank" class="fa fa-instagram"></a>
    </p>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EducationalOrganization",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Fribourg",
    "addressRegion": "FR",
    "postalCode": "1700",
    "streetAddress": "Bvd Pérolles 90"
  },
  "url" : "www.unifr.ch/nte",
  "name": "Centre NTE - DIT",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41 026 300 7034",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German"]
    } ],
  "parentOrganization": {
    "@context": "http://schema.org",
    "@type": "EducationalOrganization",
    "name":"Université de Fribourg | Universität Freiburg",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Fribourg",
        "addressRegion": "FR",
        "postalCode": "1700",
        "streetAddress": "Avenue de l'Europe 20"
    },
    "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41-026-300-7034",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German","Italian"],
      "url":"https://www.unifr.ch/unicom"
    } ],
    "sameAs" : "https://fr.wikipedia.org/wiki/Universit%C3%A9_de_Fribourg"
  }
}
</script>




    

                    </div>
                    <div class="col-sm-6 col-md-12">
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="footer-menu--meta">
        <div class="container">
            <div class="row">
                <div class="footer--copyright col-md-8 col-sm-6"><span>&copy; Université de Fribourg | </span><a href="//www.unifr.ch/impressum">Impressum</a> | <a href="//www.unifr.ch/disclaimer">Mentions légales</a> | <a href="//www.unifr.ch/help">Numéros d'urgence</a></div>
            </div>
        </div>
    </div>
</footer>

    </div>
</div>
<!-- Bundled scripts-->
<script src="../../../../../uf/v2.4.1/js/shared.js"></script>
<script src="../../../../../uf/v2.4.1/js/app.js"></script>

<!--[if lt IE 10]>
<script src="//cdn.unifr.ch/uf/v2.4.1/js/lt_ie_10.js"></script><![endif]-->
<!--[if lt IE 9]>
<script src="//cdn.unifr.ch/uf/v2.4.1/js/polyfills.js"></script><![endif]-->








<script>
    setTimeout(function(){
        $(document).ready(function($) {
            hash = "#"+window.location.hash.replace(/[^a-z0-9]/gi, '');
            if (hash) {
                $(hash).click();
            }
        });
    }, 250);

</script>

</body>
</html>